{% extends "dashboard/index.html" %}
{% load static %}

{% block page_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listado de Categorias
            </div>
            <div class="panel-body">
                {% for obj in object_list %}
                    <div class="list-group">
                        <a href="{% url 'team_list_view' obj.id %}" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i>{{ obj.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
