{% extends "dashboard/index.html" %}
{% load static common %}

{% block page_content %}
<div class="row">
    <div class="col-lg-8">

        <!-- score table -->

        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Equipo</th>
                                <th>Pts</th>
                                <th>PJ</th>
                                <th>PG</th>
                                <th>PE</th>
                                <th>PP</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                            <tr class="odd gradeX">
                                <td>{{ obj.team.name }}</td>
                                <td>{{ obj.total_points }}</td>
                                <td>{{ obj.played }}</td>
                                <td>{{ obj.victories }}</td>
                                <td>{{ obj.tied }}</td>
                                <td>{{ obj.lost }}</td>
                            </tr>
                            {% endfor %}
                            <!--<tr class="even gradeC">-->
                                <!--<td>Trident</td>-->
                                <!--<td>1</td>-->
                                <!--<td>4</td>-->
                                <!--<td>1</td>-->
                                <!--<td class="center">1</td>-->
                                <!--<td class="center">1</td>-->
                            <!--</tr>-->
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <!-- /.panel-body -->
        </div>

        <!-- end score table -->

    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Notifications Panel
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> Newasdh
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
{% endblock page_content %}
