{% extends "dashboard/index.html" %}
{% load static common %}

{% block page_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Equipo</th>
                                <th>Pts</th>
                                <th>PJ</th>
                                <th>PG</th>
                                <th>PE</th>
                                <th>PP</th>
                                <th>G</th>
                                <th>DG</th>
                                <th>GC</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                            <tr class="odd gradeX">
                                <td>{{ obj.name }}</td>
                                <td>{{ obj.total_score }}</td>
                                <td>{{ obj.played }}</td>
                                <td>{{ obj.victories }}</td>
                                <td>{{ obj.tied }}</td>
                                <td>{{ obj.lost }}</td>
                                <td>{{ obj.goals }}</td>
                                <td>{{ obj.points_diff }}</td>
                                <td>{{ obj.points_against }}</td>
                            </tr>
                            {% endfor %}
                            <!--<tr class="even gradeC">-->
                                <!--<td>Trident</td>-->
                                <!--<td>1</td>-->
                                <!--<td>4</td>-->
                                <!--<td>1</td>-->
                                <!--<td class="center">1</td>-->
                                <!--<td class="center">1</td>-->
                            <!--</tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
