{% extends "dashboard/index.html" %}
{% load static %}

{% block page_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Puntos Totales de las Instituciones
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Institution</th>
                                <th>Total Pts</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                            <tr class="odd gradeX">
                                <td>{{ obj.name }}</td>
                                <td>{{ obj.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}

