{% extends "dashboard/index.html" %}
{% load static common %}

{{ form.media.css }}
{{ form.media.js }}

{% block page_content %}
{% include "dashboard/messages.html" %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Crear Equipo
            </div>
            <div class="panel-body">
                <form role="form" method="POST" autocomplete="off">{% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>{{ form.name.label }}</label>
                                {{ form.name|add_css_class:"form-control" }}
                                {% if form.name.errors %}
                                    {% for error in form.name.errors %}
                                      <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>{{ form.institution.label }}</label>
                                {{ form.institution|add_css_class:"form-control" }}
                                {% if form.institution.errors %}
                                    {% for error in form.institution.errors %}
                                      <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>{{ form.category.label }}</label>
                                {{ form.category|add_css_class:"form-control" }}
                                {% if form.category.errors %}
                                    {% for error in form.category.errors %}
                                      <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-info btn-block">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
