{% extends "dashboard/index.html" %}
{% load static common %}

{{ form.media.css }}
{{ form.media.js }}

{% block page_content %}
{% include "dashboard/messages.html" %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Crear Partido
            </div>
            <div class="panel-body">
                <form role="form" method="POST" autocomplete="off">{% csrf_token %}
                    <div class="row">
                        <div class="col-lg-2">
                            <label>{{ form.date_number.label }}</label>
                            {{ form.date_number|add_css_class:"form-control" }}
                            {% if form.date_number.errors %}
                                {% for error in form.date_number.errors %}
                                    <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>{{ form.team1.label }}</label>
                                {{ form.team1|add_css_class:"form-control" }}
                                {% if form.team1.errors %}
                                    {% for error in form.team1.errors %}
                                        <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label></label>
                                <button type="submit" class="btn btn-outline btn-success form-control">VS</button>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>{{ form.team2.label }}</label>
                                {{ form.team2|add_css_class:"form-control" }}
                                {% if form.team2.errors %}
                                    {% for error in form.team2.errors %}
                                        <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
