
{% load i18n static %}

{% block head %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Juegos Estudiantiles</title>
</head>
{% endblock head %}

{% block content %}{% endblock content %}


{% block base_head_css %}
  <link href="{% static 'startbootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'startbootstrap/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
  <link href="{% static 'startbootstrap/dist/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'startbootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
{% endblock base_head_css %}


{% block js %}
  <script src="{% static 'startbootstrap/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'startbootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'startbootstrap/vendor/metisMenu/metisMenu.min.js' %}"></script>
  <script src="{% static 'startbootstrap/dist/js/sb-admin-2.js' %}"></script>
{% endblock js %}
