{% extends "user/base.html" %}

{% load i18n static common %}

{% block content %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Registro</h3>
          </div>
          <div class="panel-body">
            <form role="form" method="POST" autocomplete="off">{% csrf_token %}
              <fieldset>
                <div class="form-group">
                  {{ form.first_name|add_css_class:'form-control' }}
                  {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                      <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.last_name|add_css_class:'form-control' }}
                  {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                      <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.email|add_css_class:'form-control' }}
                  {% if form.email.errors %}
                    {% for error in form.email.errors %}
                      <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                    {% endfor %}
                  {% endif %}
                </div>
                <hr/>
                <div class="form-group">
                  {{ form.username|add_css_class:'form-control' }}
                  {% if form.username.errors %}
                    {% for error in form.username.errors %}
                      <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.password|add_css_class:'form-control' }}
                  {% if form.password.errors %}
                    {% for error in form.password.errors %}
                      <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.password2|add_css_class:'form-control' }}
                  {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                      <ul class="parsley-errors-list fille"><li class="parsley-required">{{ error|escape }}</li></ul>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="form-group">
                  <div style="text-align: right;">
                    <a href="{% url 'user_login_view' %}">LogIn</a>
                  </div>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block">Registrar</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
