<!DOCTYPE html>
<html lang="en">

{% load static common %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin 2 - Bootstrap Admin Theme</title>
  <link href="{% static 'startbootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'startbootstrap/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
  <link href="{% static 'startbootstrap/dist/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'startbootstrap/vendor/morrisjs/morris.css' %}" rel="stylesheet">
  <link href="{% static 'startbootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->

            <!-- navbar-top -->
            {% block navbar %}
              {% include "dashboard/navbar.html" %}
            {% endblock navbar %}
            <!-- end navbar-top -->

            <!-- sidebar -->
            {% block sidebar %}
            {% if request.user.is_staff %}
                {% include "dashboard/sidebar.html" %}
            {% endif %}
            {% endblock sidebar %}
            <!-- end sidebar -->
        </nav>

        <!-- page-content -->

        {% if request.user.is_staff %}
        <div id="page-wrapper">
        {% endif %}

          {% block page_head %}
            {% include "dashboard/page/page_head.html" %}
          {% endblock page_head %}

          {% block panel_primary %}
            {% include "dashboard/page/panel_primary.html" %}
          {% endblock panel_primary %}

          {% block page_content %}
          {% endblock page_content %}

        {% if request.user.is_staff %}
        </div>
        {% endif %}

        <!-- end page-content -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    {% block js %}
    <script src="{% static 'startbootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'startbootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'startbootstrap/vendor/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'startbootstrap/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'startbootstrap/vendor/morrisjs/morris.min.js' %}"></script>
    <script src="{% static 'startbootstrap/dist/js/sb-admin-2.js' %}"></script>
    {% endblock js %}

</body>

</html>
