{% load common %}
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %} alert-{{ message|messages_new_tags }}{% endif %} fade in m-b-15">
  <strong>Hey!</strong>
  {{ message }}
  <span class="close" data-dismiss="alert">&times;</span>
</div>
{% endfor %}
{% endif %}