{% load static common %}

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{% url 'dashboard_view' %}"><i class="fa fa-dashboard fa-fw"></i>Puntajes Totales</a>
            </li>
            <li>
                <a href="{% url 'category_list_view' %}"><i class="fa fa-dashboard fa-fw"></i>Categorias</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Equipos<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'create_team_view' %}">Agregar</a>
                    </li>
                    <li>
                        <a href="morris.html">Listar</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Partidos<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'create_match_view' %}">Agregar</a>
                    </li>
                    <li>
                        <a href="morris.html">Listar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
